body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:557px;
  background:inherit;
  background-color:rgba(179, 201, 181, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:1366px;
  height:557px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:646px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:84px;
  background:inherit;
  background-color:rgba(246, 254, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:84px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahomo Regular', 'Tahomo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:30px;
  width:148px;
  height:34px;
  font-family:'Tahomo Regular', 'Tahomo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  line-height:36px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:20px;
  width:279px;
  height:44px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:23px;
  line-height:36px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:20px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:166px;
  width:138px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:169px;
  width:297px;
  height:25px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:217px;
  width:138px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:220px;
  width:297px;
  height:25px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:268px;
  width:138px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:271px;
  width:297px;
  height:25px;
}
#u145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:487px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:487px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:166px;
  width:602px;
  height:348px;
}
#u148_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:348px;
  overflow:auto;
}
#u149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:124px;
  width:138px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:124px;
  width:297px;
  height:25px;
}
#u150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:119px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:88px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:1264px;
  top:3px;
  width:74px;
  height:78px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:187px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-46px;
  width:174px;
  height:187px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
