body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1353px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:557px;
  background:inherit;
  background-color:rgba(179, 201, 181, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:84px;
  width:1366px;
  height:557px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:646px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:646px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:84px;
  background:inherit;
  background-color:rgba(246, 254, 218, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:84px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahomo Regular', 'Tahomo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:30px;
  width:148px;
  height:34px;
  font-family:'Tahomo Regular', 'Tahomo';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  word-wrap:break-word;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-style:normal;
  font-size:23px;
  line-height:36px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:20px;
  width:279px;
  height:44px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-style:normal;
  font-size:23px;
  line-height:36px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  word-wrap:break-word;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:19px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:166px;
  width:136px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:169px;
  width:297px;
  height:25px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:217px;
  width:136px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:220px;
  width:297px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:268px;
  width:92px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:271px;
  width:297px;
  height:25px;
}
#u73_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:323px;
  width:184px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  word-wrap:break-word;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:323px;
  width:297px;
  height:25px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:423px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:423px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u78_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:162px;
  width:136px;
  height:32px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:891px;
  top:166px;
  width:297px;
  height:25px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:778px;
  top:217px;
  width:518px;
  height:237px;
}
#u80_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:237px;
  overflow:auto;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:35px;
  background:inherit;
  background-color:rgba(28, 82, 83, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1209px;
  top:159px;
  width:91px;
  height:35px;
  font-family:'Tahoma Negrito', 'Tahoma Normal', 'Tahoma';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:87px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:87px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:0px;
  width:77px;
  height:77px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:187px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-46px;
  width:174px;
  height:187px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
